html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    color: #404040;
    background: #eee;
}

a {
    color: #482FF7;
}

.title,
.subtitle {
    text-align: center;
}

.subtitle {
    font-size: 1.25em;
}

pre {
    padding: 0 1rem;
}

body {
    margin: 0 auto;
    max-width: 700px;
}

.title {
    margin: 0;
}

.daphne {
    display: block;
    margin: 2rem auto 0 auto;
    border-radius: 50%;
    width: 100px;
    transition: transform 0.4s ease-in-out;
}

.daphne:hover {
    transform: scale(1.25);
}