<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daphne</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <img src="public/daphne.jpg" alt="Daphne the dog" class="daphne">
    <h1 class="title">Daphne</h1>
    <h2 class="subtitle">A simple web server framework built with Node.</h2>

    

    <h2>About</h2>

    <p>
        It's like <a href="https://github.com/expressjs/express" target="_blank">Express</a> but not as awesome or robust. 
    </p>

    <p>
        I am a junior web developer who realized that I shouldn't need to install Express just to 
        get a development server up and running. I just wanted to see if I could make something 
        myself that did what I needed it to--serve resources. I don't plan on using this for production.
    </p>

    <p>
        I named this project "Daphne" after my <a href="/dog">dog</a>, a cute mutt who loves bringing me her toys.
    </p>

    <h2>Usage</h2>

    <pre class="prettyprint">
<code class="lang-js">
// instantiation
const app = new Daphne()
const port = 3000

// define static assets
app.use(app.static(path.join(__dirname, 'public')))

// define middleware
const logger = ({ method, url }, { statusCode }) => {
  console.log(`${statusCode} ${method} request for ${url}`)
}

const handleNotFound = (req, res) => {
  if (res.statusCode === 404) {
    res.render('not-found.html') // route 404s to specific page
  }
}

// use middleware
app.use(logger)
app.use(handleNotFound)

// routes
app.get('/', (req, res) => {
  res.render('index.html')
})

app.get('/hello', (req, res) => {
  res.send('hola!') // sends plain text
})

app.get('/dog', (req, res) => {
  res.send('public/daphne.jpg')
})

// tell daphne to start listening for requests
// this should always be last
app.listen(port, () => {
  console.log('Example app listening on port ' + port)
})
</code>
    </pre>

    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=js&amp;skin=desert"></script>
</body>
</html>